In [1]:
print('hello world')

hello world

In [2]:
y = 12
x = 15
print(y+x)

27

### this is an `if` stament

- thing 1
- thing 2
- [google](https://www.google.com)

In [3]:
# if statement
if x == y:
    print('equal')
else:
    print('not equal')

not equal

### lists

In [20]:
list1 = [1,2,3,4]
list2 = list(range(0,100))
list3 = [] # or list()
list4 = [1, 'ahoy', 2.5]
list4.append('boise')
list4.remove('ahoy')
print(list4[0], len(list4))

for l in list4:
    print(l, type(l))

1 3
1 <class 'int'>
2.5 <class 'float'>
boise <class 'str'>

### dictionaries

In [31]:
d1 = {'one':1, 'two':2, 'three':3}
d1['four'] = 4
d1['five'] = 5

d1['five']

for i in d1:
    print(i, d1[i])

one 1
two 2
three 3
four 4
five 5

### functions

In [52]:
def func1(x):
    print(x)

In [53]:
func1('mystring')
func1(5)
func1(d1)

mystring
5
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [103]:
def func2(x, y):
    return x + y

In [55]:
func2(2,5)
func2('boise ', 'state')
func2('boise', str(2))

7
boise state
boise2

In [60]:
def func3(x, y=2, z=0):
    print(x + y + z)

In [64]:
func3(1,3)
func3(1)
func3(1,y=8)
func3(1,z=2,y=8)

4
3
9
11

In [97]:
def oddfunc(x, y=[]):
    y.append(x)
    print(y)

In [98]:
oddfunc('five')

['five']

### useful list stuff

In [99]:
list1

[1, 2, 3, 4]

In [104]:
l1 = [func2(i,2) for i in list1]

l1

[3, 4, 5, 6]

In [107]:
l1 = list(map(lambda i: i+2, list1))

l1

[3, 4, 5, 6]

### libraries

In [108]:
import random

In [113]:
random.choice(list1)

3

In [123]:
import nltk
import pandas as pd
import seaborn
import textblob

In [124]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [125]:
from collections import Counter  as ctr

In [127]:
mylist = [1,1,2,3,4,2,2,2,3,1,2,3,4,5]

myctr = ctr(mylist)

In [129]:
data = pd.DataFrame({'col1':[1,2,3], 'col2':[4,5,6]})

In [130]:
data

   col1  col2
0     1     4
1     2     5
2     3     6

In [133]:
data['col3'] = data['col1'] + data.col2

data

   col1  col2  col3
0     1     4     5
1     2     5     7
2     3     6     9

In [138]:
data['col4'] = data.col3.map(lambda x: func2(x,5))

data

   col1  col2  col3  col4
0     1     4     5    10
1     2     5     7    12
2     3     6     9    14

In [150]:
data2 = pd.DataFrame({'col1':['this is a tweet this is', 'this is another tweet', 'yet another tweet']})

In [151]:
'this is a string'.split()

['this', 'is', 'a', 'string']

In [152]:
data2['split_tweets'] = data2.col1.map(lambda i: i.split())

In [154]:
data2['word_counts'] = data2.split_tweets.map(lambda i: ctr(i))

In [156]:
data2['word_freq'] = data2.word_counts.map(lambda i:[ i[k]/sum(i.values()) for k in i])

In [157]:
data2

,col1,split_tweets,word_counts,word_freq
0,this is a tweet this is,"[this, is, a, tweet, this, is]","{'this': 2, 'is': 2, 'a': 1, 'tweet': 1}","[0.3333333333333333, 0.3333333333333333, 0.166..."
1,this is another tweet,"[this, is, another, tweet]","{'this': 1, 'is': 1, 'another': 1, 'tweet': 1}","[0.25, 0.25, 0.25, 0.25]"
2,yet another tweet,"[yet, another, tweet]","{'yet': 1, 'another': 1, 'tweet': 1}","[0.3333333333333333, 0.3333333333333333, 0.333..."